body{
    background-color: rgba(209, 202, 202, 0.652);
    /* background-image: url('./IMAGES/bg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-attachment: fixed; */
 /* color: rgb(94, 92, 94);; */
}
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: auto;
    background-color: rgba(214, 210, 210, 0.659);
    padding: 0px;
    /* border: 2px solid black; */
}
header{
    padding: 26px;
margin: 0px;
text-align: center;
background-color: rgb(238, 238, 238);
/* color: rgb(112, 112, 92); */

}
.aboutinfo p{
    padding: 15px;
    line-height: 1.5;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}
h2{
    text-align: center;
}
.about{
    background-color: rgba(38, 37, 37, 0.898);
    /* padding: 20px; */
    color: white;
    padding-bottom: 25px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.aboutcontent{
    margin-top: 5%;
}
.aboutimg{
    float: left;
    width: 40%;
    margin-left: 10%;
}
.aboutinfo{
    float: right;
    width: 40%;
    margin-right: 10%;
}
.about img{
    width: 50%;
    /* border: 2px solid white; */
    border-radius: 10%;
}
.about h2{
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 10px;
}
.skill{
    /* text-align: center; */
    padding: 20px;
    background-color: rgb(230, 221, 230);
}
.skill img{
    width: 10%;
}

.skill h2{
    font-size: 2em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 25px;
}
.hobby{
    padding: 20px;
    background-color: rgb(55, 54, 54); 
    color: rgb(216, 213, 213);
}
/* .hobby td{
    padding: 5px;
    padding-bottom: 10px;
} */
.hobby h2{
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 25px;
}
.hobbiesimg img{
    width: 12%;
}
.location{
    background-color: rgb(230, 221, 230);
}
footer{
    padding: 20px;
    background-color:  rgb(55, 54, 54); 
    color: rgb(216, 213, 213);
    /* width: 100%; */
}
footer a{
    text-decoration: none;
    color: rgb(216, 213, 213);
    font-size: 1.1em;
    padding: 5px;
}
footer h3{
    font-size: 1.5em;
    padding: 10px;
}
.footerimg img{
    width: 5%;
}
.instaimg{
    width: 5%;
}